<div (click)="onCloseClick()" class="ui dimmer visible active">
    <div class="ui modal visible active" (click)="$event.stopPropagation()">
        <i (click)="onCloseClick()" class="close icon"></i>
        <div class="header">
            <ng-content select="[ModalTitle]"></ng-content>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="actions actions-default">
            <button (click)="onCloseClick()" class="ui button">OK</button>
        </div>
        <div class="actions">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
    </div>
</div>